[Desktop Entry]
Encoding=UTF-8
Exec=$HOME/bin/radio
Icon=/usr/share/icons/Mint-X/apps/16/terminal.xpm
Type=Application
Terminal=false
Comment=Radio
Name=Radio
GenericName=radio
StartupNotify=false
Categories=Applications
